@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

/* Italics */
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-ExtraBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto/Roboto_Condensed-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}